<div class="message <%= "self" if message.user_id == current_user.id %>" id="message-<%= message.id %>">
  <div class="message_user_name">
    <%= message.user.name %>：
  </div>
  <div class="message_content">
    <%= simple_format(h message.content) %>
  </div>
  <div class="checked_users <%= "displayed" if message.checked_users.length > 0 %>" >
    既読
    <% message.checked_users.each do |user| %>
     /<%= user.name %>
    <% end %>
  </div>
</div>
