<div>
  検索結果
</div>
<div>
  検索ワード：
  <%= @searched_word %>
</div>
<div>
  検索対象のチャットルーム：
  <%= @searched_area %>
</div>
<p><%= link_to "<< チャットルーム一覧に戻る", rooms_path %></p>

<% @messages.each do |message| %>
  <div>
    チャットルーム名：
    <%= message.room.name%>
  </div>
  <div class="message <%= "self" if message.user_id == current_user.id %>" id="message-<%= message.id %>">
    <div class="message_user_name">
      <%= message.user.name %>：
      <%= message.created_at.strftime('%Y/%m/%d %H:%M') %>
    </div>
    <div class="message_content">
      <%= simple_format(h message.content) %>
    </div>
  </div>
<% end %>
