<div class="chat-title">
  <h4>
    チャットルーム名：
    <%= @room.name %>
  </h4>
  <p><%= link_to "<< チャットルーム一覧に戻る", rooms_path %></p>
</div>

<div id="messages" data-room_id = "<%= @room.id %>">
  <%= render @messages %>
</div>

<%= label_tag :content, '入力：' %>
<%= text_field_tag :content, nil, data: { behavior: 'room_speaker' } %>


<%# <%= form_with(model: [@room, @message]) do |f| %>
  <%# <div class="form-group"> %>
    <%# <%= f.text_area :content, class: 'form-control', rows: '1', maxlength: '500' %>
  <%# </div> %>

  <%# <div class="form-group"> %>
    <%# <%= f.submit '送信', class: 'btn btn-primary btn-block', id: 'message-button' %>
  <%# </div> %>
<%# <% end %>
