<header class="bg-primary">
  <div class="container">
    <nav>
      <div class="header-title">
        <% if room.present? %>
          <%= link_to rooms_path do %>
            <span class= "fa fa-3x fa-angle-left"></span>
          <% end %>
          チャットルーム名：<%= room.name %>
        <% else %>
          チャットアプリ
        <% end %>
      </div>
      <% if user_signed_in? %>
        <div>
          <%= form_with(class: "form-inline  my-2 my-lg-0 search-form",
                        url: search_path, scope: :room, method: :get, remote: true) do |f| %>
            <%= f.hidden_field :id, :value => room.id if room.present? %>
            <%= f.text_field :search, class: "form-control", placeholder: "テキストを入力" %>
            <%= f.submit '検索', class: "form-btn" %>
          <% end %>
        </div>
        <div id="searched-modal"></div>
      <% end %>
    </nav>
  </div>
</header>
